@import "../../../../variables.scss";

.venues {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.venue {
    z-index: -1;
    height: 140px;
    width: 250px;
    margin: 5px 0;
}