@import "../../../../variables.scss";

.venues {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.venue {
    height: 100px;
    width: 250px;
    border: 1px solid $mustard;
    margin: 5px 0;
    padding: 5px;
}