@import "../../variables.scss";

.navigation{
  div {
    display: none;
  }

  ul{
    position: relative;
    height: 5vh;
    width: 100vw;
    background-color: $mustard;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    div {
      display: block;
      width: 10vw;
    }
    
    ul {
      position: fixed;
      height: 100vh;
      width: 10vw;
      flex-direction: column;
    }
  }
}