@import '../../../variables.scss';

.header {
    color: $dark-blue;
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 18px;
    }
}