@import "../../variables.scss";

.footer {
    div {
        height: 5vh;
        width: 100vw;
        position: relative;
        bottom: 0;
    }

    footer{
        background-color: $dark-blue;
        color: $white;
        height: 5vh;
        width: 100vw;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
}